{% extends "base_site.html" %}

{% block tag_head %}
	{% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen{{ CSS_MINIFIED }}.css" type="text/css" media="screen" charset="utf-8" />
	{% endblock %}
	{% block tag_additional_stylesheets %}{% endblock %}
{% endblock %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="header">
			{% block tag_header_content %}
			{% endblock %}
			{% block tag_header_additional_content %}
			{% endblock %}
		</div>
		{% endblock %}
		{% block tag_trunk %}
		<div id="trunk">
			{% block tag_trunk_content %}
			{% endblock %}
		</div>
		{% endblock %}
		{% block tag_footer %}
		<div id="footer">
			{% block tag_footer_content %}
			{% endblock %}
		</div>
		{% endblock %}
		{% endblock %}
	</div>
	{% endblock %}
{% endblock %}

{% block tag_scripts_base %}
<script type="text/javascript">
    window.scripts.push(
        {% if LOCAL %}
        "{{ MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js",
        {% else %}
        "http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js",
        {% endif %}
        "{{ MEDIA_URL }}script/page/base{{ JS_MINIFIED }}.js");
</script>
{% endblock %}
