{% extends "base.html" %}

<!-- Main Body -->
{% block tag_trunk_content %}
<h1 class="tagline">We want you. <strong>Got what it takes?</strong></h1>
<div class="roundbox">
    <img class="photo left" src="{{ MEDIA_URL }}image/icon/onshore_professional.png" alt=""  />
    <div class="floated_content">
        <p>GIL plans to grow exponentially in the coming years. Recognizing that the quality of manpower will be critical, the company has put in place policies, systems and practices that will attract and retain the best professionals in the industry. The company is always on the look out for talented, committed professionals in various functional areas.</p>
        <p><a href="/careers/tour/"><img src="{{ MEDIA_URL }}image/button/take_tour.png" alt="Take a tour"  /></a></p>
    </div>
</div>
<div class="roundbox">
    <ul class="tabnav">
        <li><a href="#fleet_personnel">Fleet Personnel</a></li>
        <li><a href="#shore_personnel">Shore Personnel</a></li>
    </ul>
    <div id="fleet_personnel" class="tabdiv">
        <p>Fleet Personnel consists of Masters, Chief Engineers, Drilling Superintendents, Tool Pushers, officers and crew for our offshore marine and drilling assets. This group of professionals will lead from the front, being our company's generals and ambassadors.</p>        
        <div class="column">
            <h1>Logistics and Construction</h1>
            <ul class="list">
               <li>Master</li>
               <li>Chief Engineer</li>
               <li>Chief Mate</li>
               <li>Second Engineer</li> 
               <li>NWKO</li> 
            </ul>
            <p><a href="http://greatshiprecruitment.appspot.com"><img src="{{ MEDIA_URL }}image/button/send_resume_glossy-trans.png" alt="Send Resume" title="Send Resume" /></a></p>
        </div>
        <div class="column">
            <h1>Offshore Drilling</h1>
            <ul class="list">
               <li>Drilling Superintendent</li>
               <li>Barge Master</li>
               <li>Driller</li>
               <li>Tool Pusher</li>
               <li>Chief Mechanic</li>
               <li>Chief Electrician</li>
            </ul>
            <p><a href="http://greatshiprecruitment.appspot.com"><img src="{{ MEDIA_URL }}image/button/send_resume_glossy-trans.png" alt="Send Resume" title="Send Resume" /></a></p>
        </div>
    </div>
    <div id="shore_personnel" class="tabdiv">
        <p>Shore Personnel consists of managers and staff who will support and manage the shore-based operations, which would include marketing, operations, finance etc.</p>
        <p><a href="http://greatshiprecruitment.appspot.com"><img src="{{ MEDIA_URL }}image/button/send_resume_glossy-trans.png" alt="Send Resume" title="Send Resume" /></a></p>
    </div>
</div>
{% endblock %}



