{% extends "base.html" %}

<!-- Main Body -->
{% block tag_trunk_content %}
<h1 class="tagline">We're just a phone call away. <strong>Find us here.</strong></h1>
<div class="roundbox">
    <ul class="tabnav">
        <li><a href="#india_operations">India</a></li>
        <li><a href="#singapore_operations">Singapore</a></li>
        <li><a href="#mauritius_operations">Mauritius</li>
        <li><a href="#parent_company">The Great Eastern Shipping Company</a></li>
    </ul>
    <div id="india_operations" class="tabdiv">
        <h2>Head Office</h2> 
		<address>#101, Marathon Innova B2, Off Ganpatrao Kadam Marg, West Lower Parel, Mumbai, MH 400013, India.</address>
        <p>Telephone: +91-22-2482-2000</p>
        <p>Fax: +91-22-2492-4232</p>
        <p>Marketing Email: <a href="mailto:marketing@greatshipglobal.com">marketing@greatshipglobal.com</a></p>
        <h2>Drilling Services Office</h2> 
		<address>7th Floor, "C" Wing, Plot No. C-25, G-Block, Laxmi Towers, Bandra - Kurla Complex, Bandra, Mumbai, MH 400051, India.</address>
        <p>Telephone: +91-22-2656-7100</p>
        <p>Fax: +91-22-2656-6515</p>
        <p>Drilling Email: <a href="mailto:dss@greatshipglobal.com">dss@greatshipglobal.com</a></p>
        <h2>Registered Office</h2>
		<address>Ocean House, 134/A, Dr. Annie Besant Road, Worli, Mumbai, MH 400018, India.</address>
        <p>Telephone: +91-22-6661-3000</p>
        <p>Fax: +91-22-2492-0200</p>
    </div>
    <div id="singapore_operations" class="tabdiv">
        <h3>Greatship Global Energy Services Pte. Ltd. and Greatship Global Offshore Services Pte. Ltd.</h3>
        <p>Singapore Office: <address>15, Hoe Chiang Rd, Tower fifteen, 06-03, Singapore 089316.</address></p>
        <p>Telephone: +65-6576-5600</p>
        <p>Fax: +65-6223-9059</p>
    </div>
    <div id="mauritius_operations" class="tabdiv">
        <h3>Greatship Global Holdings Ltd.</h3>
        <p>Mauritius Office: <address>Level 6, One Cathedral Square, Jules Koenig Street, Port Louis, Republic of Mauritius.</address></p>
        <p>Telephone: 230 207 1000</p>
        <p>Fax: 230 208 7949</p>
    </div>
    <div id="parent_company" class="tabdiv">
        <h3>Parent Company</h3>
        <p>Registered Office: <address>Ocean House, 134/A, Dr. Annie Besant Road, Worli, Mumbai, MH 400018, India.</address></p>
        <p>Telephone: +91-22-6661-3000</p>
        <p>Fax: +91-22-2492-0200</p>
        <p>Website:  <a href="http://www.greatship.com/">www.greatship.com</a></p>
    </div>
</div>
{% endblock %}
