{% extends "base.html" %}
<!-- TODO - Summary -->
<!-- TODO: Javascript for the page yet to be added -->
<!-- TODO: Add the media urls below to SConscript -->
<!-- TODO: Import the vales of the constants below -->
            
<!-- Main Body -->
{% block tag_trunk_content %}

<!-- TODO: Javascript for the page yet to be added -->

<h1 class="tagline">Our Fleet.  <strong>Our Assets.</strong></h1>
    <div class="roundbox">
        <ul class="tabnav">
            <li><a href="#overview">Overview</a></li>
            <li><a href="#drilling_services">Drilling Services</a></li>
            <li><a href="#offshore_logistics">Offshore Logistics</a></li>
            <li><a href="#offshore_construction">Offshore Construction</a></li>
            <li><a href="#in_chartering">In-chartering</a></li>
        </ul>
        <div id="overview" class="tabdiv service">
            <p>GIL and its subsidiaries operate in three main segments – Drilling Services, Offshore Logistics and Offshore Construction.</p>
            <p>The average age of our vessels is approximately 2.51 years.</p>
            <table class="classic left-align" border="0" cellspacing="0" cellpadding="0">
                <caption>Fleet Status</caption>
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Vessel Name</th>
                        <th>Built</th>
                        <th>Type</th>
                        <th>Yard</th>
                        <th>Deadweight</th>
                        <th>Design</th>
                        <th>BP</th>
                        <th>DP</th>
                        <th>FiFi</th>
                        <th>Company</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="rowhead" colspan="11">Operating Fleet Rigs</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Greatdrill Chetna</td>
                        <td>2009</td>
                        <td>350' IC JU rig</td>
                        <td>K Fels</td>
                        <td>N/A</td>
                        <td>KFELS B Class</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>GGES</td>
                        <td>Mar, 2012</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Greatdrill Chitra</td>
                        <td>2009</td>
                        <td>350' IC JU rig</td>
                        <td>K Fels</td>
                        <td>N/A</td>
                        <td>KFELS B Class</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>GGES</td>
                        <td>Oct, 2014</td>
                    </tr>
                    <tr>
                        <td class="rowhead" colspan="11">Operating Fleet Vessels</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Greatship Disha</td>
                        <td>1999</td>
                        <td>PSV</td>
                        <td>Aker</td>
                        <td>3115 Tons</td>
                        <td>UT755</td>
                        <td>N/A</td>
                        <td>DP I</td>
                        <td></td>
                        <td>GIL</td>
                        <td>Jun, 2012</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Greatship Diya</td>
                        <td>2003</td>
                        <td>PSV</td>
                        <td>Aker</td>
                        <td>3350 Tons</td>
                        <td>UT755L</td>
                        <td>N/A</td>
                        <td>DP I</td>
                        <td></td>
                        <td>GIL</td>
                        <td>Oct, 2009</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Greatship Dipti</td>
                        <td>2005</td>
                        <td>PSV</td>
                        <td>Aker</td>
                        <td>3300 Tons</td>
                        <td>UT755LN</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td></td>
                        <td>GIL</td>
                        <td>Apr, 2012</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Greatship Anjali</td>
                        <td>2008</td>
                        <td>AHTSV</td>
                        <td>CDL</td>
                        <td>2209 Tons</td>
                        <td>MOSS 501</td>
                        <td>87 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>May, 2011</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Greatship Amrita</td>
                        <td>2008</td>
                        <td>AHTSV</td>
                        <td>CDL</td>
                        <td>2200 Tons</td>
                        <td>MOSS 501</td>
                        <td>88 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Apr, 2011</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Greatship Dhriti</td>
                        <td>2008</td>
                        <td>PSV</td>
                        <td>Aker</td>
                        <td>3350 Tons</td>
                        <td>UT755LN</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Sep, 2010</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Greatship Dhwani</td>
                        <td>2008</td>
                        <td>PSV</td>
                        <td>Aker</td>
                        <td>3350 Tons</td>
                        <td>UT755LN</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Aug, 2009</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Greatship Abha</td>
                        <td>2009</td>
                        <td>AHTSV</td>
                        <td>CDL</td>
                        <td>2200 Tons</td>
                        <td>MOSS 501</td>
                        <td>85 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GGOS</td>
                        <td>Sep, 2009</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Greatship Akhila</td>
                        <td>2009</td>
                        <td>AHTSV</td>
                        <td>Labroy</td>
                        <td>1600 Tons</td>
                        <td>KCM/Q441(D)</td>
                        <td>82 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Apr, 2012</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Greatship Asmi</td>
                        <td>2009</td>
                        <td>AHTSV</td>
                        <td>Labroy</td>
                        <td>1600 Tons</td>
                        <td>KCM/Q441(D)</td>
                        <td>89 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Oct, 2009</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Greatship Aditi</td>
                        <td>2009</td>
                        <td>AHTSV</td>
                        <td>CDL</td>
                        <td>2200 Tons</td>
                        <td>MOSS 501</td>
                        <td>90 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GGOS</td>
                        <td>Sep, 2009</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Greatship Ahalya</td>
                        <td>2009</td>
                        <td>AHTSV</td>
                        <td>Labroy</td>
                        <td>1600 Tons</td>
                        <td>KCM/Q441(D)</td>
                        <td>85 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Sep, 2009</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Greatship Aarti</td>
                        <td>2009</td>
                        <td>AHTSV</td>
                        <td>Labroy</td>
                        <td>1600 Tons</td>
                        <td>KCM/Q441(D)</td>
                        <td>82 tons</td>
                        <td>DP II</td>
                        <td>FiFi I</td>
                        <td>GIL</td>
                        <td>Sep, 2009</td>
                    </tr>
                    <tr>
                        <td class="rowhead" colspan="11">Under-construction Vessels</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Greatship Maya</td>
                        <td>2009</td>
                        <td>MPSSV</td>
                        <td>Keppel</td>
                        <td>4600 Tons</td>
                        <td>MT 6012</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Nov, 2009</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Greatship Mohini</td>
                        <td>2009</td>
                        <td>MPSSV</td>
                        <td>Keppel</td>
                        <td>4600 Tons</td>
                        <td>MT 6012</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Dec, 2009</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Greatship Mamta</td>
                        <td>2009</td>
                        <td>MPSSV</td>
                        <td>Keppel</td>
                        <td>4600 Tons</td>
                        <td>MT 6012</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Feb, 2010</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Greatship Manisha</td>
                        <td>2010</td>
                        <td>MPSSV</td>
                        <td>Keppel</td>
                        <td>4600 Tons</td>
                        <td>MT 6012</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Mar, 2010</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Greatship Laxmi</td>
                        <td>2009</td>
                        <td>MSV</td>
                        <td>MDL</td>
                        <td>4000 Tons</td>
                        <td>MT 6012 MK II</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Apr, 2010</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Greatship Leela</td>
                        <td>2010</td>
                        <td>MSV</td>
                        <td>MDL</td>
                        <td>4000 Tons</td>
                        <td>MT 6012 MK II</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Jul, 2010</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Greatship Rekha</td>
                        <td>2010</td>
                        <td>ROV Support</td>
                        <td>CDL</td>
                        <td>3000 Tons</td>
                        <td>Seatech Solutions</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>Jan, 2010</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Greatship Ramya</td>
                        <td>2010</td>
                        <td>ROV Support</td>
                        <td>CDL</td>
                        <td>3000 Tons</td>
                        <td>Seatech Solutions</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GGOS</td>
                        <td>May, 2010</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Greatship Rohini</td>
                        <td>2010</td>
                        <td>ROV Support</td>
                        <td>CDL</td>
                        <td>3000 Tons</td>
                        <td>Seatech Solutions</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GIL</td>
                        <td>Sep, 2010</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>Greatship Rashi</td>
                        <td>2010</td>
                        <td>ROV Support</td>
                        <td>CDL</td>
                        <td>3000 Tons</td>
                        <td>Seatech Solutions</td>
                        <td>N/A</td>
                        <td>DP II</td>
                        <td>Opt.</td>
                        <td>GIL</td>
                        <td>Jan, 2011</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Greatship Shakti</td>
                        <td>2011</td>
                        <td>AHTSV</td>
                        <td>DD</td>
                        <td>2000 Tons</td>
                        <td>Conan-Wu</td>
                        <td>150</td>
                        <td>DP II</td>
                        <td>FiFi-1</td>
                        <td>GIL</td>
                        <td>Jan, 2011</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>Greatship Shanti</td>
                        <td>2011</td>
                        <td>AHTSV</td>
                        <td>DD</td>
                        <td>2000 Tons</td>
                        <td>Conan-Wu</td>
                        <td>150</td>
                        <td>DP II</td>
                        <td>FiFi-1</td>
                        <td>GIL</td>
                        <td>Mar, 2011</td>
                    </tr>
                </tbody>
            </table>
            <!-- TODO: Import the vales of the constants below -->
            <p><i>(Fleet status as on {{ LAST_MONTH }} {{ LAST_MONTH_YEAR }})</i></p>
        </div>
        <!-- TODO: Add the media urls below to SConscript -->
        <div id="drilling_services" class="tabdiv service">
        <ul class="floated_content">
                <li><h1>350 Ft Jack-Up Drilling Rig</h1>
                    < ul class="list-view">
                        <li><a href="{{ MEDIA_URL }}download/pdfs/drilling_rig/greatdrill_chitra.pdf">Greatdrill Chitra <span class="suffix">Delivered on October 19, 2009.</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/drilling_rig/greatdrill_chetna.pdf">Greatdrill Chetna <span class="suffix">Delivered on March 11, 2009.</span></a></li>
                    </ul>
                </li>
            </ul>
            <p>Greatship Chetna has been bareboated by Greatship Global Energy Services Pte. Ltd. (GGES).</p>
        </div>
        <div id="offshore_logistics" class="tabdiv service">
            <!--img class="photo left" src="{{ MEDIA_URL }}images/icons/bubble/256x256/ship_side.png" alt="" /-->
            <ul class="floated_content">
                <li><h1>Platform Supply Vessels</h1>
                        <ul class="list-view">
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/platform_supply_vessels/greatship_disha.pdf">Greatship Disha <span class="suffix">Delivered on August 09, 2006</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/platform_supply_vessels/greatship_diya.pdf">Greatship Diya <span class="suffix">Delivered on April 17, 2007</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/platform_supply_vessels/greatship_dipti.pdf">Greatship Dipti <span class="suffix">Delivered on September 26, 2007</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/platform_supply_vessels/greatship_dhriti.pdf">Greatship Dhriti <span class="suffix">Delivered on September 03, 2008</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/platform_supply_vessels/greatship_dhwani.pdf">Greatship Dhwani <span class="suffix">Delivered on November 21, 2008</span></a></li>
                        </ul>
                </li>
                <li><h1>Anchor Handling Tug Support Vessels</h1>
                        <ul class="list-view">
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_anjali.pdf">Greatship Anjali <span class="suffix">Delivered on January 02, 2008</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_amrita.pdf">Greatship Amrita <span class="suffix">Delivered on April 08, 2008</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_akhila.pdf">Greatship Akhila <span class="suffix">Delivered on February 25, 2009</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_asmi.pdf">Greatship Asmi <span class="suffix">Delivered on April 30, 2009</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_ahalya.pdf">Greatship Ahalya <span class="suffix">Delivered on June 25, 2009</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_aarti.pdf">Greatship Aarti <span class="suffix">Expected delivery in Q2 F 2010</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_abha.pdf">Greatship Abha <span class="suffix">Delivered on February 18, 2009</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_aditi.pdf">Greatship Aditi <span class="suffix">Delivered on June 10, 2009</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_dd_tbn_1.pdf">Greatship Shakti <span class="suffix">Expected delivery in Q4 F 2011</span></a></li>
                            <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/anchor_handlers/greatship_dd_tbn_2.pdf">Greatship Shanti <span class="suffix">Expected delivery in Q4 F 2011</span></a></li>
                        </ul>
                </li>
                <li>
                    <h1>Multi Purpose Supply and Support Vessels</h1>
                    <ul class="list-view">
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_mangala.pdf">Greatship Maya <span class="suffix">Expected delivery in Q3 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_mohini.pdf">Greatship <!--Keppel TBN 2--> Mohini <span class="suffix">Expected delivery in Q3 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_mayukhi.pdf">Greatship <!--Keppel TBN 3--> Mamta <span class="suffix">Expected delivery in Q4 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_manisha.pdf">Greatship <!--Keppel TBN 4--> Manisha <span class="suffix">Expected delivery in Q4 F 2010</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="offshore_construction" class="tabdiv service">
            <!--img class="photo left" src="{{ MEDIA_URL }}images/icons/bubble/256x256/construction.png" alt="" /-->
            <ul class="floated_content">
                <li><h1>Multi Support Vessels</h1>
                    <ul class="list-view">
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_construction/multi_support_vessels/greatship_mdl_tbn_1.pdf">Greatship Laxmi<span class="suffix">Expected delivery in Q1 F 2011</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_construction/multi_support_vessels/greatship_mdl_tbn_2.pdf">Greatship Leela <span class="suffix">Expected delivery in Q2 F 2011</span></a></li>
                    </ul>
                </li>
                <li><h1>Platform/ROV Support Vessels</h1>
                    <ul class="list-view">
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_construction/platform_rov_support_vessels/greatship_cdl_tbn_5.pdf">Greatship Rekha<span class="suffix">Expected delivery in Q4 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_construction/platform_rov_support_vessels/greatship_cdl_tbn_6.pdf">Greatship Ramya<span class="suffix">Expected delivery in Q1 F 2011</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_construction/platform_rov_support_vessels/greatship_cdl_tbn_7.pdf">Greatship Rohini<span class="suffix">Expected delivery in Q2 F 2011</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_construction/platform_rov_support_vessels/greatship_cdl_tbn_8.pdf">Greatship Rashi<span class="suffix">Expected delivery in Q4 F 2011</span></a></li>
                    </ul>
                </li>
                <li>
                    <h1>Multi Purpose Supply and Support Vessels</h1>
                    <ul class="list-view">
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_mangala.pdf">Greatship Maya <span class="suffix">Expected delivery in Q3 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_mohini.pdf">Greatship Mohini <span class="suffix">Expected delivery in Q3 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_mayukhi.pdf">Greatship Mamta <span class="suffix">Expected delivery in Q4 F 2010</span></a></li>
                        <li><a href="{{ MEDIA_URL }}download/pdfs/offshore_logistics/multipurpose_supply_support_vessels/greatship_manisha.pdf">Greatship Manisha <span class="suffix">Expected delivery in Q4 F 2010</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="in_chartering" class="tabdiv service">
            <p>GIL has entered into alliances/partnerships with global service providers to in-charter Rigs and Offshore Supply Vessels of diverse types to service prospective requirements in India.</p>
            <ul class="list">
                <li>Skandi Falcon 3100 DWT PSV (inchartered by Greatship Global Offshore Services Pte. Ltd.)</li>
            </ul>
            <p>To enquire status of above vessels <a href="mailto:olp@greatshipglobal.com">please contact us</a>.</p>
        </div>
    </div>
{% endblock %}



