{% extends "base.html" %}

<!-- Main Body -->
{% block tag_trunk_content %}
<h1 class="tagline">Construction, drilling, &amp; logistics. <strong>We've got it all.</strong></h1>
<div class="roundbox">
    <ul class="tabnav">
        <li><a href="#logistics">Logistics</a></li>
        <li><a href="#drilling">Drilling</a></li>
        <li><a href="#construction">Construction</a></li>
    </ul>
    <div id="logistics" class="tabdiv">
        <p>We aim to provide safe, efficient and versatile vessels in order to fulfill the demanding needs of exploration and production companies, the world over.  All our vessels are young, state-of-the-art technology, dynamically positioned with redundancy, capable of carrying multiple products (including liquid mud, dry-bulk, etc.), and capable of carrying out multiple operations.</p>
        <p>For more information please see <a href="/services/fleet/logistics/">vessel fleet specifications</a>.</p>
            <div id="drilling" class="tabdiv">
        <p>We aim to provide safe and efficient drilling operations to E&P operators worldwide. We have made our beginning with our under-construction Jack-Up Rig at Keppel Fels in Singapore.</p>

        <p>For more information please see <a href="/services/fleet/drilling/">fleet specifications</a>.</p>
        </div>
        <div id="construction" class="tabdiv">
        <p>We aim to provide safe, efficient and versatile vessels in order to fulfill the demanding needs of offshore construction companies to support offshore construction, maintenance, modifications and other sub-sea operations, world wide.</p>

        <p>DOF subsea ASA & GIL have joined hands to form a JV partnership to cater to various subsea project requirements in Indain subcontinents.</p>
        <p>For more information please see <a href="/services/fleet/construction/">vessel fleet specifications</a>.</p>
    </div>
</div>
{% endblock %}



