{% extends "base.html" %}

<!-- Main Body -->
{% block tag_trunk_content %}
<h1 class="tagline">Company policy. <strong>Meeting expectations.</strong></h1>
<div class="roundbox">
    <p>With utmost consideration for the safety of Life and Property and the Protection of Environment, the Company dedicates itself to meet the expectations of its customers and the aspirations of its Stakeholders by ensuring that effective Safety and Quality Management Systems are in place that comply with the relevant National and International Codes, Standards, Statutory and Regulatory Requirements.</p>

    <p>In line with our strategy to be a market leader and a preferred safe service provider, we shall monitor and ensure the effectiveness and continual improvement of our systems, leading to excellence.</p>

    <p>With our firm belief in team success, we shall achieve our objectives by:</p>

    <ul class="list">
        <li>
            Providing safe practices in ship operation and safe working environment .
        </li>    
        <li>
            Establishing safeguards against all identified risks.
        </li>    
        <li>
            Continuously improving safety management skills of personnel ashore and aboard ships & rigs, including preparing for emergencies related both to safety and environmental protection.
        </li>    
        <li>
            Providing training and adequate resources to a highly motivated and an empowered workforce with due regard to their health and safety.
        </li>    
    </ul>

    <p>This policy shall be implemented and maintained at all levels of the organization- ship based, rig based and shore based.</p>
</div>

{% endblock %}
