{% extends "base.html" %}

<!-- Main Body -->
{% block tag_trunk_content %}

<h1 class="tagline">Quality, Health, Safety, &amp; Environment. <strong>Top priority.</strong></h1>    
<div class="roundbox">
    <div id="safety_priority" class="tabdiv">
        <img class="photo left" src="{{MEDIA_URL}}image/icon/safety_helmet.png" alt="Construction" title="Construction" />
        <p>At Greatship, safety takes precedence and is followed and implemented strictly and religiously. The term "safety" does not only entail safety of life and cargo but also encompasses protection of the environment.</p>
        <p>Initiatives to implement and integrate strict safety measures for protection and preservation of environment have helped to uphold company's non-compromising attitude towards safety.</p>
        <p>All activities related to the operation and management of vessels and rigs engaged in offshore services are certified for Environment Management system (ISO 14001:2004) and occupational Health and Safety Management system (OHSAS 18001:2007). The company is already certified for Quality Management System (IS09001:2000) and ISM.</p>
        <p>Please have a look at our <a href="/policy/">company policy</a>.</p>
    </div>
</div>
{% endblock %}
