{% extends "photobrowser.html" %}<!-- Photobrowser extends base.html -->

<!-- Photo browser body-->
{% block tagline %}Our world in pictures. <strong>Work is fun. No, really!</strong>{% endblock %}

{% block photo_thumbs %}
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/1.jpg" alt="" description="Our head office"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/1.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/2.jpg" alt="" description="Open door policy"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/2.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/3.jpg" alt="" description="Versatility at its best"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/3.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/4.jpg" alt="" description="All in place"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/4.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/5.jpg" alt="" description="Into the details"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/5.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/6.jpg" alt="" description="Today's plans"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/6.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/14.jpg" alt="" description="Our marketing team"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/14.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/15.jpg" alt="" description="Calendar is my best friend"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/15.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/16.jpg" alt="" description="Work and smiles go together"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/16.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/18.jpg" alt="" description="Our finance team"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/18.jpg" alt="" /></a>
    </li>
        <li>
        <a href="{{ MEDIA_URL }}image/photo/career/19.jpg" alt="" description="Approving designs"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/19.jpg" alt="" /></a>
    </li>
	<li>
	        <a href="{{ MEDIA_URL }}image/photo/career/20.jpg" alt="" description="Formal in attire"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/20.jpg" alt="" /></a>
	</li>
        <li>
        <a href="{{ MEDIA_URL }}image/photo/career/22.jpg" alt="" description="Safety everywhere"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/22.jpg" alt="" /></a>
    </li>
        <li>
        <a href="{{ MEDIA_URL }}image/photo/career/23.jpg" alt="" description="Planning leads to perfection"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/23.jpg" alt="" /></a>
    </li>
        <li>
        <a href="{{ MEDIA_URL }}image/photo/career/24.jpg" alt="" description="It's all about ships"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/24.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/25.jpg" alt="" description="An evening onboard"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/25.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/26.jpg" alt="" description="Engine control room"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/26.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/27.jpg" alt="" description="Firefighting drills; just about magic"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/27.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/29.jpg" alt="" description="Safety drills"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/29.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/30.jpg" alt="" description="Teamwork makes the difference"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/30.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/31.jpg" alt="" description="Creating waves and legacy"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/31.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/7.jpg" alt="" description="My cabin"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/7.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/8.jpg" alt="" description="End of a busy day"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/8.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/9.jpg" alt="" description="Cannot afford a mistake"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/9.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/10.jpg" alt="" description="I work in the best ships"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/10.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/11.jpg" alt="" description="In the engine room"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/11.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/12.jpg" alt="" description="Calculations all the way"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/12.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/13.jpg" alt="" description="Healthy food habits"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/13.jpg" alt="" /></a>
    </li>
    <li>
        <a href="{{ MEDIA_URL }}image/photo/career/32.jpg" alt="" description="Greatship Mohini"><img src="{{ MEDIA_URL }}image/photo/career/thumbs/32.jpg" alt="" /></a>
    </li>
{% endblock %}




